In [5]:
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os
%matplotlib inline

In [49]:
# Data Path
path = '/home/hsharma/WORK/Machine_Learning_Examples/Kaggle_Projects/DATA/titanic'
Train_data = pd.read_csv(os.path.join(path,'train.csv'))
Test_data = pd.read_csv(os.path.join(path,'test.csv'))

print (Train_data.isnull().sum())
print (Train_data.head())
print (Test_data.head())

# sns.distplot(Train_data['Survived'])

# sns.distplot(Train_data['Pclass'])

# Data Clearing Steps
# In case of NAN in age one of the remidation could be replacing the 
# Replace the age by mean/median or remove the data-points.


# Mean_age= np.mean(Train_data['Age'])
# Median_age =np.median(Train_data['Age'])


# print (Mean_age,Median_age)

# Row_index=[]
# for i in range(len(Train_data)):
#     if np.isnan(Train_data.iloc[i]['Age']):
#         Row_index.append(i)
#         print ('NAN Found..!') 

# print (Row_index)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S